/****************************************************************************/
/* reset css */
/****************************************************************************/
*{
	margin: 0;
	text-decoration: none;
	border: none;
	outline: none;
        padding: 0;
        list-style: none;
}
/****************************************************************************/
/* common styles */
/****************************************************************************/
html {
  box-sizing: border-box;
}

/****************************************************************************/
/* mobile first resposive */
/****************************************************************************/

body {
  z-index: 0;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #484848;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
span {
	color: #000000;
}
.container {
  display: flex;
  flex-grow: 1;
  margin: 2rem auto;
  flex-direction: column;
}

/* Small devices */
@media only screen and (min-width: 600px) {

}
/* Medium devices */
@media only screen and (min-width: 768px) {

}
/* Large devices ) */
@media only screen and (min-width: 992px) {

	body {
		margin: 0 auto;
                max-width: 1920px;
	}
}
